In [2]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "1234",       
    database = "payroll_db"
)

cursor = db.cursor()
print("Database connected successfully")

Database connected successfully

In [3]:
# Function to add employee

def add_employee():
    emp_id = int(input("Enter Employee ID: "))
    name = input("Enter Employee Name: ")
    salary = int(input("Enter Basic Salary: "))
    deductions = int(input("Enter Deductions: "))

    sql = "INSERT INTO employees Values (%s, %s, %s, %s)"
    values = (emp_id, name, salary, deductions)

    cursor.execute(sql, values)
    db.commit()
    print("Employee Added Successfully!\n")

add_employee()

Enter Employee ID: 106
Enter Employee Name: DISHA
Enter Basic Salary: 5000
Enter Deductions: 600
Employee Added Successfully!

In [4]:
# Function to display payroll

def show_payroll():
    cursor.execute("SELECT * FROM employees")
    result = cursor.fetchall()

    print("\nPayroll Details")
    print("ID | Name | Net Salary")
    for row in result:
        net_salary = row[2] - row[3]
        print(row[0], "|", row[1], "|", net_salary)
    print()

show_payroll()

Payroll Details
ID | Name | Net Salary
101 | Ashish | 28000
102 | Nisha | 26500
103 | Poonam | 29500
104 | Kirti | 59700
105 | Soomi | 34500
106 | DISHA | 4400

In [5]:
# Menu 

while True:
    print("1. Add Employee")
    print("2. View Payroll")
    print("3. Exit")
    
    choice = input("Enter your choice: ")
    
    if choice == "1":
        add_employee()
    elif choice == "2":
        show_payroll()
    elif choice == "3":
        break
    else:
        print("Invalid Choice")

1. Add Employee
2. View Payroll
3. Exit
Enter your choice: 2

Payroll Details
ID | Name | Net Salary
101 | Ashish | 28000
102 | Nisha | 26500
103 | Poonam | 29500
104 | Kirti | 59700
105 | Soomi | 34500
106 | DISHA | 4400

1. Add Employee
2. View Payroll
3. Exit
Enter your choice: 1
Enter Employee ID: 107
Enter Employee Name: Nisha
Enter Basic Salary: 6000
Enter Deductions: 600
Employee Added Successfully!

1. Add Employee
2. View Payroll
3. Exit
Enter your choice: 3